.list_product_left_content {
    background-color: rgb(255, 255, 255);
}


.list_product_left_content h2 {
    color: #000;
    
    font-family:Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; 
}

.list_product_left_content p {
    color: #000;
}

.price-filter {
    width: 100%;
}

.price-filter-wrap {
    display: flex;
    /* justify-content: left; */
}

.price-filter-wrap input {
    width: 40%;
    border-radius: 5px;
}

.price-filter-wrap button {
    padding: 0px 10px;
    background-color:rgb(255, 255, 255);
    color: #000000;
    font-size: 17px;
    border: 1px solid rgb(159, 159, 159)
}

.price-filter-wrap button:hover {
    background-color: rgb(0, 0, 0);
    color: white;

}

