.floating-cart-container {
    
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
  }
  
  .floating-cart-icon {
    background-color: #f2f2f2;
    color: white;
    border: none;
    border-radius: 10%;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
  }
  
  .cart-badge {
    background-color: #ff0000;
    color: rgb(255, 255, 255);
    border-radius: 50%;
    padding: 5px;
    margin-left: 5px;
    font-size: 14px;
  }
  
  .cart-popup {
    position: absolute;
    bottom: 50px;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    max-height: 400px;
    overflow-y: auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }
  
  .cart-popup h2 {
    margin-top: 0;
  }
  
  .cart-popup ul {
    list-style-type: none;
    padding: 0;
  }
  
  .cart-popup li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .cart-popup img {
    margin-right: 10px;
  }
  