.banner {
    display: flex;
}

.left-image {
    margin-top: 50px;
    margin-left: 220px;
    width: 320px;
    height: 580px;
    background-color: #E0E0E0;
    border-radius: 14px;
}

.l-i {
    margin-top: 90px;
    margin-left: -10px;
    width: 320;
    height: 100%;
}

.right-image {
    margin-top: 50px;
    margin-left: 30px;
    width: 320px;
    height: 580px;
    background-color: #E0E0E0;
    border-radius: 14px;
}

.r-i {
    margin-top: 18px;
    margin-left: -45px;
    width: 320;
    height: 100%;
}

.mid {
    display: 0;
}

.top-mid {
    background-color: #E0E0E0;
    margin-top: 50px;
    margin-left: 30px;
    width: 320px;
    height: 130px;
    border-radius: 14px;
}

.t_i {
    margin-top: 0px;
    margin-left: 0px;
    width: 320px;
    height: 130px;
    object-fit: cover;
    object-position: top;
}

.ultimate {
    margin-top: 0px;
    margin-left: 30px;
    font-size: 67px;
    color: #484848;
    text-align: center;
}

.sale {
    margin-top: -100px;
    margin-left: 30px;
    font-size: 130px;
    text-align: center;
    color: white;
    filter: drop-shadow(1px 1px 2px #000);
}

.new-collection {
    text-align: center;
    margin-top: -120px;
    margin-left: 100px;
    margin-right: 80px;
}

.shop-now {
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 15px 20px 15px 20px;
    margin-left: 100px;
    margin-right: 80px;
    border-radius: 14px;
}

.u-mid{
    background-color: #ec8787;
    margin-top: 25px;
    margin-left: 30px;
    width: 320px;
    height: 130px;
    border-radius: 14px;
}
.u_i {
    margin-top: 0px;
    margin-left: 0px;
    width: 320px;
    height: 130px;
    object-fit: cover;
    object-position: top;
    border-radius: 14px;
}